.hero {
  width: 230px;
  height: 200px;
  background-image: url(image-path("hero_snake.png"));
  background-size: cover;
}

// .hero {
//   width: 200px;
//   height: 200px;
//   background-image: url(image-path("hero_snake.png"));
//   background-size: cover;
// }